@model Row

<main class="main">
    <div class="content-center">
        <div class="text-danger">
            <p>@TempData["result"]</p>
        </div>
        @if (Model != null)
        {
            <div class="main-table">
                <div class="table-block" style="min-height:0">
                    <table class="table">
                        <tr>
                            <th>Id</th>
                            <th>Value</th>
                            <th>Edit</th>
                        </tr>
                        <tr>
                            <td>@Model.RowId</td>
                            <td>@Model.Value</td>
                            <td>
                                <form asp-action="Edit" method="get">
                                    <input name="id" value="@Model.RowId" hidden />
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        }
        <a class="btn btn-primary" asp-action="Index">Back</a>
    </div>
</main>